In [6]:
import numpy as np
import pandas as pd

from tensorflow.keras.models import load_model

In [2]:
trial_df = pd.read_csv('trial.csv')
trial_df

       user  item  rating
0      1000   934       2
1      1000   230       4
2      1000   240       4
3      1000   257       4
4      1000   316       3
...     ...   ...     ...
36502  2098  1107       3
36503  2098  1118       4
36504  2098  1131       4
36505  2098  1141       4
36506  2098    45       4

[36507 rows x 3 columns]

In [7]:
print(f'No of unique users: {len(trial_df["user"].unique())}')
print(f'No of unique items: {len(trial_df["item"].unique())}')

No of unique users: 200
No of unique items: 1154